<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CMail.Properties.Settings>
            <setting name="InboxFolder" serializeAs="String">
                <value>c:\t-mailip\files\</value>
            </setting>
            <setting name="OutboxFolder" serializeAs="String">
                <value>c:\t-mailip\BOXES\V8001000.00\</value>
            </setting>
            <setting name="DelovodFolder" serializeAs="String">
                <value>m:\POST\Inbox\</value>
            </setting>
            <setting name="InboxArchiveFolder" serializeAs="String">
                <value>d:\!!LUGANSK\Входящие\</value>
            </setting>
            <setting name="OutboxArchiveFolder" serializeAs="String">
                <value>d:\!!LUGANSK\Исходящие\</value>
            </setting>
            <setting name="OutboxNotkillFolder" serializeAs="String">
                <value>c:\t-mailip\BOXES\V8001000.00\Notkill\</value>
            </setting>
            <setting name="ComputersInfoJSON" serializeAs="String">
                <value>d:\computers.json</value>
            </setting>
            <setting name="OutboxSendingFolder" serializeAs="String">
                <value>d:\Почта\!ОТПРАВКА НА ЛУГАНСК\</value>
            </setting>
        </CMail.Properties.Settings>
    </userSettings>
</configuration>